[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"

[packages]
python-telegram-bot = "*"
flask = "*"
python-dotenv = "*"
moviepy = "*"

[requires]
python_version = "3.8"
